/ExercisesReflectionAndAttrybutes/Demo/bin
/ExercisesReflectionAndAttrybutes/Demo/obj
/ExercisesReflectionAndAttrybutes/ExercisesReflectionAndAttrybutes/bin
/ExercisesReflectionAndAttrybutes/ExercisesReflectionAndAttrybutes/obj
/ExercisesReflectionAndAttrybutes/ExercisesReflectionAndAttrybutes/*.zip
/InheritanceDemo/02.Zoo/*.zip
